/* CSS Document */
body {background-color: #632432
      font-family: Arial;
}
#Main-container {
margin: 150px auto;
width: 600px;
}
table {
background:rgba(255, 255, 255, 0.7);
text-align: left;
border-collapse: collapse;
width: 100%;
}
th, td {border: solid 1px black;
padding: 20px;
}
thead{
background-color: #246355
color: white;
border-bottom: 5px #0F362D;
}
tr:nth-child(even){
background-color: #ddd;
}
tr:hover td{
background-color: #369681;
color: white;
}
